<template name="Header">
    <div id = "header">
        <h1>The App</h1>
        <nav>
            <ul>
                {{#if currentUser}}
                    <li><a href="#" class="logout">Logout</a></li>
                    <li><a href="{{pathFor route='wanties'}}">Wanties</a></li>
                    <li><a href="{{pathFor route='checklists'}}">Checklists</a></li>
                {{/if}}
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>
    </div>
</template>
