<template name="Items">

    <div class="list-items">

        <h2>{{name}} <i class="fa fa-cog"></i></h2>
        <div class="dropdown hidden">
            <i class="fa fa-users fa-2x"></i>
            <ul class="settings">
                {{#each collaborators}}
                    <li>{{this.email}}</li>
                {{/each}}
                <li><form class="collaborate"><input type="email" name="email" placeholder="Add collaborator"/></form></li>
            </ul>
        </div>

        <h3>Total: {{totalCount}}:-</h3>

        <div class="wanties">

            <div class="create-wantie">
                <p>New Wantie</p>
                <form class="new-wantie">
                    <div class="wantie-input-field"><i class="fa fa-picture-o"></i><input type='text' name='img' id="img" placeholder='Image' /></div>
                    <div class="wantie-input-field"><i class="fa fa-pencil"></i><input type='text' name='text' id="name" placeholder='Title' /></div>
                    <div class="wantie-input-field"><i class="fa fa-money"></i><input type='number' name='price' id="price" placeholder='Price' /></div>
                    <div class="wantie-input-field"><i class="fa fa-shopping-cart"></i><input type='text' name='link' id="link" placeholder='Webshop Link' /></div>
                    <input type="submit" value="Add" />
                </form>
            </div>

            {{#each items}}
                {{> item}}
            {{/each}}

        </div>
    </div>
</template>

<template name="item">
    <div class="wantie">
        <div class="wantie-img" style="background-image: url('{{img}}');">
            <div class="wantie-info">
                <div class="wantie-price"><span class="text">{{price}}:-</span></div>
                <div class="wantie-link"><a target="_blank" href="{{link}}"><i class="fa fa-shopping-cart"></i></a></div>
            </div>
        </div>
        <div class="wantie-details">
            <span class="text">{{text}}</span>
            <button class="delete"><i class="fa fa-ellipsis-v fa-2x"></i></button>
        </div>

    </div>
</template>
