
<template name="Lists">

    <div class="content">
        {{#if Template.subscriptionsReady}}
            {{#each lists}}
                <div class="bubble">
                    <div class="box">
                        <a href="/list/{{_id}}">
                        <div class="row">
                            <i class="fa fa-check-square-o fa-5x"></i>
                        </div>

                        <div class="row">
                            {{#if equals createdBy userId}}
                                <p id="name-{{_id}}" class="list-title">{{name}}
                                    <button class="actions" data-toggle="popover" data-placement="bottom"
                                            data-html="true"
                                            data-content="<div class='dropdown-actions hidden' id='{{_id}}'>
                                    <button class='edit'><i class='fa fa-pencil'></i></button>
                                    <button class='remove'><i class='fa fa-trash'></i></button>
                            </div>"><i class="fa fa-ellipsis-v fa-2x"></i></button>
                                </p>

                            {{else}}
                                <p id="name-{{_id}}" class="list-title">{{name}}</p>
                            {{/if}}
                        </div>
                        </a>
                    </div>
                </div>
            {{/each}}

        {{else}}
        <div class="bubble">
            <div class="box">
                    <div class="row">
                        <i class="fa fa-check-square-o fa-5x"></i>
                    </div>

                    <div class="row">
                        <p class="list-title">Loading...</p>
                    </div>

            </div>
        </div>
        {{/if}}
    <div class="bubble">
        <div class="box">
            <div class="row">
                <i class="fa fa-plus fa-5x"></i>
            </div>

            <div class="row">
                <p class="list-title"><form class="new-list"><input type="text" name="text" placeholder="Type to add new list" /></form></p>
            </div>

        </div>
    </div>
</div>


</template>
