<template name="Start">

    <header>
        <h1 class="startTitle">The App</h1>

        <div>
            <button class="authenticate-button">Sign in</button>
            <button class="authenticate-button">Sign up</button>
        </div>

    </header>

    <div class="container">
        <h2>Support</h2>

    </div>

    <footer>
        <div class="content">
            <a href="#" class="scrollpoint sp-effect3">
                <img src="assets/img/freeze/logo.png" alt="" class="logo">
            </a>
            <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
            <div class="rights">
                <p>Copyright &copy; 2015</p>
                <p>Template by <a href="http://www.scoopthemes.com" target="_blank">ScoopThemes</a></p>
            </div>
        </div>
    </footer>

    <h2>Register</h2>
    <form class="register">
        <p>Email: <input type="email" name="email" id="reg-email" required></p>
        <p>Password: <input type="password" name="password" id="reg-pass" required></p>
        <p><input type="submit" value="Register"></p>
    </form>

    <h2>Login</h2>
    <form class="login">
        <p>Email: <input type="email" name="email" id="login-email" required></p>
        <p>Password: <input type="password" name="password" id="login-pass" required></p>
        <p><input type="submit" value="Login"></p>
    </form>

</template>
