<template name="Start">

    <header>
        <h1 class="startTitle">The App</h1>

        <div>
            <button class="authenticate-button btn-signup">Sign up</button>
            <button class="authenticate-button btn-login">Login</button>
        </div>

    </header>

    <div class="container">
        <h2>Support</h2>

    </div>

    <footer>
        <div class="content">
            <a href="#" class="scrollpoint sp-effect3">
                <img src="assets/img/freeze/logo.png" alt="" class="logo">
            </a>
            <div class="social">
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
        </div>
    </footer>

</template>
