<template name="Wanties">
    <div class="content">
        {{#each wanties}}
            <div class="cloud">
                <div class="cloud-content">
                    <a href="/wanties/{{_id}}">
                        <div class="row">
                            <div class="previews">
                                {{#each previews}}
                                    {{> preview}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="row">
                            <p id="name-{{_id}}" class="list-title">{{name}}<button class="actions"><i class="fa fa-ellipsis-v fa-2x"></i></button></p>
                        </div>
                    </a>
                </div>
            </div>

            <div id="popover-template">
                <button class='edit'><i class='fa fa-pencil'></i></button>
                <button class='remove'><i class='fa fa-trash'></i></button>
            </div>

            <div class="popUp" id="popUp-{{_id}}">
                <span>Sure you want to delete "{{name}}"?</span>
                <div>
                    <button class="cancel">Cancel</button>
                    <button class="yes">Yes</button>
                </div>
            </div>

        {{/each}}

        <div class="cloud">
            <div class="cloud-content">
                <div class="row">
                    <i class="fa fa-plus fa-5x"></i>
                </div>

                <div class="row">
                    <p class="list-title"><form class="new-wanties"><input type="text" name="text" placeholder="Add new category" /></form></p>
                </div>

            </div>
        </div>



    </div>


</template>

<template name="preview">
    <img class="img-preview" src="{{img}}" />
</template>