/* CSS declarations go here */
body{
    min-width: 100vh;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: -webkit-linear-gradient(left top, #37789B , #50B4B9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #37789B, #50B4B9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #37789B, #50B4B9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #37789B, #50B4B9); /* Standard syntax (must be last) */
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
}

@font-face {
    font-family: handwritten;
    src: url("../fonts/amatic/AmaticSC-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header {
    margin: 0 auto;
    height: auto;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    position: relative;
    color: #ffffff;
}

h1 {
    text-align: left;
    font-family: handwritten, sans-serif;
    font-size: 70px;
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
    padding-top: 30px;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

h3{
    text-align: center;
    padding-bottom: 30px;
    color: #ffffff;
}

nav {
    background-color: transparent;
    color: #fff;
    display: block;
    margin-right: 5%;
    overflow: hidden;
    width: 80%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    float: right;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: #fff;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
}

.active {
    border-bottom: solid 1px white;
}

input[type='text']::-webkit-input-placeholder{
    color: white;
    font-style: italic;
}

input[type='email']::-webkit-input-placeholder{
    color: white;
    font-style: italic;
}

input[type='number']::-webkit-input-placeholder{
    color: white;
    font-style: italic;
}

/*Start*/

input.error{
    display: block;
    background-color:rgb(255, 231, 231);
}